
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');



html{
    background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
    font-family: play;
    flex-direction: column;
    display: flex;
    margin: 0;
    padding: 50px;
    
 
    
}


.top{
    
    flex-direction: column;
    
    
    background-color: #1f2937b7;
    margin: px;
    font-family: play;
    padding: px;
    border-radius: 15px;

}

.logo{
    display: flex;
    color: rgb(8, 214, 250);
    font-weight: bold;
    font-size: xx-large;
    padding: 12px;
    align-items: center;
    margin: 16px;

}

.links{
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    align-content: flex-end;
    
    
    

}




.header{
    
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    background-color: #1f2937;
    margin: 0px;
    font-family: play;
    padding: 0px;
    margin-bottom: 48px;
    
     
     
}

a{
    text-decoration: none;
    color: white;
}

.links {
    display: flex;
    list-style-type: none;
    gap: 48px;
    margin-right: 50px;
        
}

.body{
    
    display: flex;
    flex-direction: column;
    padding: 120px;
    margin: -70px;
    border-radius: 25px;
    
    


    color: white;


}

.main-statement{
    font-size: xx-large;
    font-weight: 1000;
    
}

.statement-img-cont{
    display: flex;
    padding: 0.5in;
    border: 1px solid rgba(49, 184, 238, 0.63);
    border-radius: 12px;
    
    

}

.ghost{
    padding: 8px;
}

button{
    border-radius: 15px;
    background: rgb(2, 183, 255);
    padding: 20px;

   
    margin-top: 10px;
    padding: 10px;
    size: 100px;

}

.mid-content{
    
    justify-content: center;
    text-align: center;
    margin-top: 52px;
    
    
}

.mid-title{
    color: rgb(255, 255, 255);
    
    background-color:#22354b71;
    border-radius: 25px;
    margin-bottom: 52px;
    border: 4px solid rgba(0, 238, 255, 0.377);
    padding: 24px;
    
    font-size: xx-large;
    font-weight: bolder;
}

info{
    max-width: 300px;
}

.text{
    max-width: 300px;
    color: white;
    background-color: #3040578f;
    
}

.container{
    
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 72px;
    padding: 20px;
    background-color: #1f2937b7; ;
    border-radius: 25px;
}

.img_info{
    border-radius: 5px;
    border: 0px solid rgba(0, 0, 0, 0.39);
    width: "300px";

}

.testimony{
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    align-items: flex-end;
    background-color: rgba(211, 211, 211, 0.774);
    margin: 0px;
    padding: 110px;
    border-radius: 15px;
    
    
}


.cta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(20, 123, 163, 0.63);
    color: white;
    border-radius: 15px;
    padding: 30px;
    border-top: 100px;
    border-bottom: 80px;
    margin: 96px;
    
    
}


.content-title{
    font-size: x-large;
}

button_a{
    border-radius: 25px;
    background: rgb(0, 195, 255);
    padding: 10px;
    size: 100px;
    margin-top: 2px;
    padding: 2px;
    padding-left: 150px;
    

}


.footer{
    background: #1f293798;
    color: white;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}

.credit{
    font-size: x-small;
    color: lightsteelblue; 
}